/*
Theme Name: WP Project Theme
Author: Ghom
Author URI: https://github.com/CamilleAbella
Version: 1.0
*/

/* variables */

html {
    --background-color: #121212;
    --text-color: #eeeeee;
    --h1-size: 26px;
    --h2-size: 22px;
    --h3-size: 18px;
    --text-size: 16px;
    --title-font-family: arial;
    --text-font-family: sans-serif;
}

/* reset */

* {
    margin: 0;
    padding: 0;
}

html {
    transform: translateY(-32px);
}

ul, ol, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    color: var(--text-color);
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: var(--text-font-family);
    min-height: 100vh;
    font-size: var(--text-size);
}

/* container */

.header, .footer, .posts {
    max-width: 800px;
    min-height: 100px;
}

/* templates */

.header {
    width: 100%;
}
    .header .title {
        padding: 20px;
        font-size: var(--h1-size);
        text-align: center;
    }

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.posts {
    flex-grow: 1;
    padding: 20px;
    margin-top: 30px;
    border: 1px solid var(--text-color);
}
    .post {
        margin: 20px 0;
    }
        .post .title {
            font-size: var(--h2-size);
            margin: 10px 0;
        }

/* elements */

.title {
    text-align: center;
    font-family: var(--title-font-family);
}

.menu ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}
    .menu ul .menu-item {
        padding: 20px;
        border: 1px solid var(--text-color);
        transition: border 300ms, padding 300ms;
    }
    .menu ul .menu-item:hover {
        padding: 30px;
        border: none;
    }